params {
// -------------------------------------------------------------------------
// misc
help=false
threads=48
max_mem=90
output_dir=false
// this is the directory containing all the scripts executed internally
// set it to the correct one if re-using this workflow
source_dir="${launchDir}/src"
// -------------------------------------------------------------------------
// input
contigs_fasta=false
ccs_reads=false
sample_id=false
// -------------------------------------------------------------------------
// metabat2
min_contig_length=1500
perc_good_contigs=95
min_edge_score=60
max_num_edges=200
min_ctg_coverage=1
min_cluster_tot_len=100000
// -------------------------------------------------------------------------
// checkm lineage_wf
pplacer_threads=8
e_value=1e-10
overlap_length_frac=0.7
marker_file="/binfl/lv71579/schmat90/software/checkm/hmms/phylo.hmm"
// -------------------------------------------------------------------------
// filter bins
max_contamination=5.0
min_completeness=10.0
max_heterogeneity=25.0
// -------------------------------------------------------------------------
// refinem
minimap_kmer_size=20
reference_protein_db="/binfl/lv71579/schmat90/software/refinem/db/gtdb_r80_protein_db.2017-11-09.fna"
reference_ssu_db="/binfl/lv71579/schmat90/software/refinem/db/gtdb_r80_ssu_db.2018-01-18.fna"
reference_taxonomy="/binfl/lv71579/schmat90/software/refinem/db/gtdb_r80_taxonomy.2017-12-15.tsv"
min_align_len=0.75
cov_max_edit_dist=0.10
gc_perc=95
td_perc=95
cov_perc=50
// -------------------------------------------------------------------------
// gtdb-tk
min_perc_aa=10
min_align_frac=0.65
}

env {
// executables of programs that are used inside the workflow
PYTHON3="python3.8"
METABAT2="metabat2"
CHECKM="checkm"
REFINEM="refinem"
GTDBTK="gtdbtk"
BIOAWK="bioawk"
MINIMAP2="minimap2"
SAMTOOLS="samtools"
}
